{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="py-4"
           style="background-image: url('{% static "img/pages-background-papyrus-cold.png" %}')">
    <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
    <hr>
    <div class="container px-0 m-0">
      <div class="p-0">
        <b>Position: </b>{{ employee.position }}
      </div>
      <div class="m-0">
        <b>Username: </b>{{ employee.username }}
      </div>
    </div>
    <hr>
    <h4>Served Orders</h4>
    {% if employee.orders.all %}
      <table class="table table-hover">
        <tr>
          <th>No</th>
          <th>Table No</th>
          <th>Items</th>
          <th>Pax</th>
          <th>Opened at</th>
        </tr>

        {% if employee.orders.all %}
          {% for order in employee.orders.all %}
            {% if not order.is_closed %}
              <tr class="clickable-row" data-href="{% url 'orders:order-detail' order.id %}">
                <td>{{ order.order_number }}</td>
                <td>{{ order.table.table_number }}</td>
                <td>
                  {% for item in order.order_items.all %}
                    {{ item.menu_item.name }}<br>
                  {% endfor %}
                </td>
                <td>{{ order.guests_count }}</td>
                <td>{{ order.opened_at }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </table>
      {% else %}
      <h6>No Orders at the time</h6>
    {% endif %}

  </section>
{% endblock %}

