{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Login</h1>


  {% if form.errors %}
    <div class="alert alert-danger" role="alert">Invalid credentials</div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ crispy }}
    <div class="container-fluid">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1" name="username"/>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="password" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1" name="password"/>
      </div>
      <div class="input-group mb-3">
        <input type="submit" value="Submit" class="btn btn-light">
        <input type="hidden" name="next" value="{{ next }}"/>
      </div>
    </div>
  </form>
{% endblock %}
