{% extends "base.html" %}
{% load crispy_forms_filters static %}

{% block content %}
  <section class="td-hero d-flex align-items-center justify-content-center"
           style="background-image: url('{% static "img/pages-background-papyrus-cold.png" %}'); padding-bottom: 10px">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <h1>Login</h1>


        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form|crispy }}

          <input type="submit"
                 class="btn btn-light"
                 value="Submit"
                 style="background-color: lightgrey"
          >
          <input type="hidden"
                 name="next"
                 value="{{ next }}">
        </form>
      </div>
  </section>
{% endblock %}
