{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="py-4 mx-0 align-items-center"
           style="background-image: url('{% static "img/pages-background-papyrus-cold.png" %}')">
    {% if not orders %}
      <div class="td-hero d-flex align-items-center justify-content-center">
        <h3>No orders yet</h3>
      </div>
      <br>
      <div class="td-hero d-flex align-items-center justify-content-center">
        <img src="{% static 'img/gif/nothing_here.gif' %}" alt="No orders"/>
      </div>
    {% else %}
      <div class="container-fluid px-0 mx-1 w-100">
          <h2>Current Open Orders</h2>
          <hr>
        <table class="table table-hover">
          <tr>
            <th>Number</th>
            <th>Table</th>
            <th>Pax</th>
            <th>Employee(s)</th>
            <th>Opened on</th>
          </tr>
          {% for order in orders %}
            <tr class="clickable-row" data-href="{% url 'orders:order-detail' order.id %}">
              {% if not order.is_closed %}
                <td>{{ order.order_number }}</td>
                <td>{{ order.table.table_number }}</td>
                <td>{{ order.guests_count }}</td>
                <td>
                  {% if order.table.employees.count > 1 %}
                    {% for empl in order.table.employees.all %}
                      {{ empl.first_name }} {{ empl.last_name }}<br>
                    {% endfor %}
                  {% else %}
                    {{ order.table.employees.first.first_name }} {{ order.table.employees.first.last_name }}
                  {% endif %}
                </td>
                <td>{{ order.opened_at }}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
  </section>
{% endblock %}
