{% extends 'base.html' %}
{% load static crispy_forms_filters %}

{% block content %}
  <section class="py-4 mx-0 align-items-center"
           style="background-image: url('{% static "img/pages-background-papyrus-cold.png" %}')">
    <div class="row px-0 mx-1 w-100">
      <div class="container-fluid px-0 mx-1 col-lg-7">
        <h2>Order No {{ order.order_number }}</h2>
      </div>
      <div class="col-lg-4 d-flex justify-content-end align-items-center px-0 mx-1">
        <a href="{% url 'orders:index' %}" class="btn btn-sm btn-outline-dark m-1">Back to list</a>
        <a href="{% url 'orders:order-edit' order.id %}" class="btn btn-sm btn-outline-dark m-1">Edit</a>
        <a href="{% url 'orders:order-delete' order.id %}" {% if not user.is_superuser %}
           tabindex="-1" aria-disabled="true" class="btn btn-sm btn-outline-danger m-1 disabled"
        {% else %}
           class="btn btn-sm btn-outline-danger m-1"
        {% endif %}>
          Delete
        </a>
      </div>
      <hr>
      <div class="row mx-1 justify-content-between">
        <div class="container-fluid px-0 mx-1 col-md-4">
          <p><b>Table:</b> {{ order.table.table_number }}</p>
          {% if order.table.employees.count == 0 %}
            <p><b>Employee:</b> —</p>
          {% elif order.table.employees.count > 1 %}
            <p>
              <b>Employees:</b>
              {% for empl in order.table.employees.all %}
                {{ empl.first_name }} {{ empl.last_name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </p>
          {% else %}
            <p>
              <b>Employee:</b>
              {{ order.table.employees.first.first_name }} {{ order.table.employees.first.last_name }}
            </p>
          {% endif %}
        </div>
        <div class="container-fluid px-0 mx-1 col-md-4">
          <p><b>Opened on:</b> {{ order.opened_at }}</p>
          <p><b>Number of guests:</b> {{ order.guests_count }}</p>
        </div>
      </div>
      <hr>
    </div>
    {% if order.order_items.count > 0 %}
      <table class="table">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        {% for item in order.order_items.all %}
          <tr>
            <td>{{ item.menu_item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.menu_item.price|floatformat:2 }} ₴</td>
          </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td style="text-align: right"><b>Total:</b></td>
          <td>{{ order.total_amount|floatformat:2 }} ₴</td>
        </tr>
      </table>
    {% else %}
      <h2>No items yet</h2>
    {% endif %}
  </section>
{% endblock %}