{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <section class="py-4 d-flex align-items-center justify-content-center w-100"
           style="background-image: url('{% static "img/pages-background-papyrus-cold.png" %}')">
    <div class="row align-items-center">
      <h1>Confirm Item Delete?</h1>
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <table class="table table-bordered border-light-subtle bg-transparent">
          <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Section</th>
            <th>{% if menuitem.menus.count > 1 %}Menus{% else %}Menu{% endif %}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ menuitem.name }}</td>
            <td>{{ menuitem.price|floatformat:2 }} ₴</td>
            <td>{{ menuitem.menu_section }}</td>
            <td>
              {% if menuitem.menus %}
                {% if menuitem.menus.count > 1 %}
                  {% for menu in menuitem.menus.all %}
                    {{ menu.name }}<br>
                  {% endfor %}
                {% else %}
                  {{ menuitem.menus.first.name }}
                {% endif %}
              {% else %}
                Not assigned
              {% endif %}
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between">
          <input type="submit" value="Yes" class="btn btn-outline-danger" style="min-width: 100px">
          <button type="button"
                  class="btn btn-outline-dark "
                  style="min-width: 100px"
                  onclick="history.back()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}