{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <section class="py-4 d-flex align-items-center w-100"
           style="background-image: url('{% static "img/pages-background-papyrus-cold.png" %}')">
    <div class="container">
      <div class="row justify-content-center align-content-center">
        <div class="col-9 ">
          <h1 class="">
            This Menu Item is assigned to <strong> {{ menuitem.menus.all.count }}
              menu{{ menuitem.menus.all.count|pluralize }}.</strong>
            <br>
          </h1>
          <h3>
            In case you proceed, item will be removed from
            {% if menuitem.menus.all.count > 1 %}
              all menus
            {% else %}
              the menu
            {% endif %}
          .
          </h3>
        </div>
      </div>

      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <table class="table table-bordered border-light-subtle bg-transparent">
              <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Section</th>
                <th>{% if menuitem.menus.count > 1 %}Menus{% else %}Menu{% endif %}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ menuitem.name }}</td>
                <td>{{ menuitem.price|floatformat:2 }} ₴</td>
                <td>{{ menuitem.menu_section }}</td>
                <td>
                  {% if menuitem.menus %}
                    {% if menuitem.menus.count > 1 %}
                      {% for menu in menuitem.menus.all %}
                        {{ menu.name }}<br>
                      {% endfor %}
                    {% else %}
                      {{ menuitem.menus.first.name }}
                    {% endif %}
                  {% else %}
                    Not assigned
                  {% endif %}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-9 ">
          <form action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col d-flex justify-content-between ">
                <input type="submit" value="Delete" class="btn btn-outline-danger" style="min-width: 100px">
                <a class="btn btn-outline-dark "
                   style="min-width: 100px"
                   href="{% url 'menus:item-index' %}">
                  Cancel
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}